extends no_user_layout



block content
  #top_ribbon.ribbon
    h2#title FireJar
    #buttons
      a(href="/login") 
        button.btn.btn-primary(type="button") Login

      
      a(href="/register") 
        button.btn.btn-primary(type="button") Join

  h4#where ...
  #map
  br
    
  .container
    .row
      .col-md-4
        
      #jar-holder.col-md-8
    
        

  

    