extends layout

block content
  .container
    h1 Log in to fJar
    p.lead Create. Locate. Share.
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
        &nbsp;

      a(href='/')
      
        button.btn.btn-primary(type="button") Cancel
    br
    a(href='/register')
        button.btn.btn-primary(type="button") Register

