extends layout

block content
  style.
    body{
      background: url(/images/light.jpg);
    }
    .containerL{
      padding:20px;
    
    }
  .containerL
    h1 Fire Jar
    p.lead Create. Locate. Share.
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') Submit
        &nbsp;
      br
      br  
      a(href='/')
      
        button.btn.btn-primary(type="button") skip
    br
    a(href='/register')
        button.btn.btn-primary(type="button") Register

