extends layout



block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    script.
      var userProjects = "!{user_projects}"
      var userJars= !{JSON.stringify(user_jars)}
      var usersession = !{JSON.stringify(user)}
      console.log(usersession)
    include jars.html

