extends layout



block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    
    a(href="/logout") Logout

    include jars3.html

    script.
      
      usersession = !{JSON.stringify(user)}
      userProjects = !{JSON.stringify(user_projects)}
      userJars = !{JSON.stringify(user_jars)}
      
      
      console.log("im ready")