/**************/
/* Custom CSS */
/**************/

#crossing{

background-attachment: fixed;
background-image: url('/images/crossing.png');
background-size: cover;

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position-x:20%;
background-image: url('/images/light.jpg');
background-size: cover;
    color: lightgray;
 
}

h1 {
	color: white;
}
/*TOP*/


h2#banner{
  float: left;
  margin-top: 0.2em;
  margin-left: 0.1em;
  color: orange;
  font-family: helvetica;
}
#buttons{
  float:right;
  padding-right: 0.5em; 
  padding-top:0.5em;
}
.btn-primary{
  background-color: #2B2B2B;
  border:none;
  color: white;

}
#where{
  margin-top: 0;
}
.wrapper{
        width: 100%;
        
        background:rgba(0,0,0,0.5);
      }

/*Middle*/
#map{
    height: 280px;
    width:90%;
    display: block;
    margin: 10px auto;
}
.leaflet-bottom{
  display: none;
}
.jar{
  font-family: serif;
  width: 100%;
  /*min-height: 300px;*/
  /* max-height: 400px; */
  background-color: rgba(0,0,0,0.5);
  margin: 2em auto;
  border-radius: 5px;
  padding: 1em;

}
.project{
  background-image: url("/images/brooklyn2.jpg") !important;
  
}
.project .titling{
  width:100%;
  
}
.project h2{
  color:white;
}
.project p{
  color: orange;
}
.jar-image{
  max-width: 250px;

}
button.view_jar{
  margin-right: 1em;
}

#top_ribbon{
 background: rgba(0,0,0,1);
 
  text-align: center;
  height:3.5em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


