/**************/
/* Custom CSS */
/**************/

body{
	background-color: #f3f3f1;
	color: #3f4953;
}

h1 {
	color: #f25a4f;
}


#map{
    height: 380px;
    width:70%;
    display: block;
    margin-left: 10%;
}

