/**************/
/* Custom CSS */
/**************/

body{
	background-color: #f3f3f1;
	color: #3f4953;
}

h1 {
	color: #222222;
}


#map{
    height: 280px;
    width:80%;
    display: block;
    margin-left: 10%;
}
.jar{
  width:305px;
  min-height: 300px;
  
}
.jar-image{
  max-width: 250px;

}

